#!/bin/bash

BIN_log=$(/usr/local/mysql/bin/mysql -h192.168.164.141 -uwjm -pwjm123 -e "show master status\G;" |awk  'NR==2{print $2}')

POS=$(/usr/local/mysql/bin/mysql -h192.168.164.141 -uwjm -pwjm123 -e "show master status\G;" |awk  'NR==3{print $2}')

/usr/local/mysql/bin/mysql -uroot -pwjm123 -e "change master to master_host='192.168.164.141', master_user='wjm', master_password='wjm123', master_log_file='$BIN_log', master_log_pos=$POS; start slave;"

